<footer class="bg-light py-4">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-3 d-flex flex-column align-items-center justify-content-center">
                <img src="/dist/images/saglikbakanligi_logo.png" alt="" width="120" class="d-inline">
                <p class="text-muted mt-3">{{siteInfo.site_long_name}} ©2022</p>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-4">
                        <h5>Randevu Al</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a href="http://www.hastanerandevu.gov.tr/Randevu/" class="nav-link p-0 text-muted">Randevu almak için lütfen tıklayınız</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h5>Hizmet Standartları Tablosu</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a href="/hizmet-standartlari-tablosu" class="nav-link p-0 text-muted">Hizmet Standartları Tablosuna Ulaşmak İçin Tıklayınız</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h5>Faydalı linkler</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a href="http://www.saglik.gov.tr/" class="nav-link p-0 text-muted">Sağlık Bakanlığı</a></li>
                            <li class="nav-item mb-2"><a href="http://www.enabiz.gov.tr/" class="nav-link p-0 text-muted">E-Nabız</a></li>
                            <li class="nav-item mb-2"><a href="http://www.asm.gov.tr/" class="nav-link p-0 text-muted">Ankara İl Sağlık Müdürlüğü</a></li>
                        </ul>
                    </div>
                </div>
                <div class="mt-4">
                    <h5>İletişim</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><span class="nav-link p-0 text-muted">Adres: {{siteInfo.address}}</span>
                        </li>
                        <li class="nav-item mb-2"><span class="nav-link p-0 text-muted">Tel: {{siteInfo.phone}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>