<div class="py-5">
    <div class="container">
        <div class="card">
            <div class="card-body py-5">
                <h5 class="card-title">ÇALIŞMA TABLOSU</h5>
                <div class="text-center">
                    <img class="soloViewer" src="{{tablo.url}}" height="auto" width="80%" alt="">
                </div>
            </div>
        </div>
    </div>
</div>