<div class="py-5">
    <div class="container">
        <div class="card">
            <div data-post="/admin/setPageItem/kadromuz/genelAlan" class="card-body py-5 editor">
                {{{pageItems.genelAlan}}}
            </div>
        </div>
    </div>
</div>