<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Anasayfa</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item active">Anasayfa</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Çalışma Tablosu</h5>
          </div>
          <div class="card-body">
            <p>Çalışma tablosunu güncelleyebilirsiniz.</p>
            <a href="/admin/calisma-tablosu" class="card-link">Çalışma Tablosunu Yönet</a>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Hizmet Standartları Tablosu</h5>
          </div>
          <div class="card-body">
            <p>Hizmet standartları tablosuna hizmet adı, gerekli belgeler ve hizmetin tamamlanma süresi bilgilerini ekleyebilir düzenleyebilir ve ya silebilirsiniz.</p>
            <a href="/admin/hizmet-standartlari-tablosu" class="card-link">Hizmet Standartlarını Yönet</a>

          </div>
        </div>
      </div>
      <!-- /.col-md-6 -->
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Anasayfa Kayan Resimler</h5>
          </div>
          <div class="card-body">
            <p>Anasayfa kayan resimlere görsel ekleyebilirsiniz ve sıralayabilirsiniz.</p>
            <a href="/admin/indexSlider" class="card-link">Kayan Resimleri Yönet</a>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Faydalı Bilgiler</h5>
          </div>
          <div class="card-body">
            <p>Blog yapısında, etiketler ile ziyaretçileri bilgilendirme yazısı ekleyebilirsiniz.</p>
            <a href="/admin/blogs" class="card-link">Faydalı Bilgileri Gör</a>
            <a href="/admin/blog/create" class="card-link">Faydalı Bilgi Ekle</a>
          </div>
        </div>
      </div>
      <!-- /.col-md-6 -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content -->