<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/admin" class="brand-link">
        <span class="brand-text font-weight-light">{{siteInfo.site_name}}</span>
        <br>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{{auth.avatar}}" class="img-circle elevation-2">
            </div>
            <div class="info">
                <a href="/admin/profile" class="d-block">{{auth.username}}</a>
            </div>
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                {{#ifCond auth.authority "==" "superAdmin"}}
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-users"></i>
                            <p>
                                Kullanıcılar
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/admin/users" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Kullanıcı Listesi</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/admin/user/create" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Kullanıcı Ekle</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                {{/ifCond}}
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-users"></i>
                        <p>
                            Faydalı Bilgiler
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/admin/blogs" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Tüm Faydalı Bilgiler</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/blog/create" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Faydalı Bilgi Ekle</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="/admin/indexSlider" class="nav-link">
                        <i class="nav-icon fas fa-cog"></i>
                        <p>Anasayfa Kayan Resimler</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/calisma-tablosu" class="nav-link">
                        <i class="nav-icon fas fa-cog"></i>
                        <p>Çalışma Tablosu</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/hizmet-standartlari-tablosu" class="nav-link">
                        <i class="nav-icon fas fa-cog"></i>
                        <p>Hizmet Standartları Tablosu</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/iletisim" class="nav-link">
                        <i class="nav-icon fas fa-cog"></i>
                        <p>İletişim</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/settings" class="nav-link">
                        <i class="nav-icon fas fa-cog"></i>
                        <p>Ayarlar</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/logout" class="nav-link">
                        <i class="nav-icon fas fa-sign-out-alt"></i>
                        <p>Çıkış Yap</p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>